<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>41510806603-cfqm1nae0afvbi6pfp5sdfqmv8hq56mb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.41510806603-cfqm1nae0afvbi6pfp5sdfqmv8hq56mb</string>
	<key>API_KEY</key>
	<string>AIzaSyBWLVJ0gEA5RmfQgTLgKVZKrbdvNqu8i0s</string>
	<key>GCM_SENDER_ID</key>
	<string>41510806603</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myquizapp</string>
	<key>PROJECT_ID</key>
	<string>myquizapp-7c3f6</string>
	<key>STORAGE_BUCKET</key>
	<string>myquizapp-7c3f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:41510806603:ios:fe7028215fd696232999ce</string>
	<key>DATABASE_URL</key>
	<string>https://myquizapp-7c3f6.firebaseio.com</string>
</dict>
</plist>